{# Dywee\OrderBundle\Resources\View\Admin\index.html.twig #}

{% extends 'DyweeFaqBundle::admin.html.twig' %}

{% block body %}
    {% if faqCategories is defined and faqCategories is not empty %}
        <div class="col-md-3 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">{{ 'add'|trans }}</p>
                </div>
                <div class="panel-body">
                    <p><a href="{{ path('faq_category_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'faq.category.addLabel'|trans }}</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if faqCategories is defined and faqCategories is not empty %}
        {% for row in faqCategories|batch(3) %}
            <div class="row">
                {% for faqCategory in row %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-right">
                                    <a href="{{ path('faq_category_update', {id: faqCategory.id}) }}" class="btn btn-default btn-xs" style="margin-top: -5px"><i class="fa fa-pencil"></i> </a>
                                    <a href="{{ path('faq_category_update', {id: faqCategory.id}) }}" class="btn btn-danger btn-xs" style="margin-top: -5px"><i class="fa fa-trash"></i> </a>
                                </div>
                                <h2 class="panel-title">{{ faqCategory.name }}</h2>
                            </div>
                                {% if faqCategory.faqItems is not empty %}
                                    <table class="table">
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'faq.question'|trans }}</th>
                                            <th>{{ 'faq.active'|trans }}</th>
                                            <th>{{ 'actions'|trans }}</th>
                                        </tr>
                                        {% for faqItem in faqCategory.faqItems %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ faqItem.question }}</td>
                                                <td>
                                                    {% if faqItem.isVisible == true %}
                                                        <i class="fa fa-check"></i>
                                                    {% else %}
                                                        <i class="fa fa-remove"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="btn-group btn-group-xs">
                                                        <a href="{{ path('faq_item_update', {id: faqItem.id}) }}" class="btn btn-default"><i class="fa fa-pencil"></i> </a>
                                                    </div>
                                                    <a href="{{ path('faq_item_delete', {id: faqItem.id}) }}" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <div class="panel-body">
                                        <p>Aucune question dans cette catégorie</p>
                                        <p><a href="{{ path('faq_item_add', {id: faqCategory.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'faq.item.addInCategory'|trans }}</a></p>
                                    </div>
                                {% endif %}

                            {% if faqCategory.faqItems is not empty %}
                                <div class="panel-footer">
                                    <a href="{{ path('faq_item_add', {id: faqCategory.id}) }}" class="btn btn-default"><i class="fa fa-plus"></i> {{ 'faq.item.add'|trans }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <div class="row">
            <div class="col-md-6">
                <p>{{ 'faq.category.empty'|trans }}</p>
                <p><a href="{{ path('faq_category_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'faq.category.addLabel'|trans }}</a></p>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-question"></i> Qu'est-ce qu'un regroupement de questions</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                            <span class="label label-primary">Aide</span>
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <p>Le regroupement de questions vous permet regrouper plusieurs questions dans une même catégorie</p>
                        <p>Par exemple, les questions:
                        <ul>
                            <li>Quels sont les délais de livraison?</li>
                            <li>Puis-je me faire livrer partout dans le monde?</li>
                        </ul>
                        pourraient appartenir à une catégorie "<b>Livraison</b>"</p>
                        <p>Tandis que les questions comme:
                        <ul>
                            <li>Comment passer commande?</li>
                            <li>Est-il nécessaire d'avoir un compte pour commander?</li>
                        </ul>
                        feraient partie d'une catégorie "<b>Commander</b>"</p>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <a href="{{ path('faq_category_add') }}">{{ 'faq.category.addLabel'|trans }}</a>
                    </div><!-- box-footer -->
                </div><!-- /.box -->
            </div>
        </div>

    {% endif %}
{% endblock %}